html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

* {
    box-sizing: border-box;
    max-width:100%;
    /* border: 1px solid grey; */
}

html {
    font-size: 62.5%;
}

body {
    font-size:1.6rem;
    line-height: 1.5;
    background-color: #CAF0F8;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h2{
    font-size:4rem;
}

h1 {
    font-size: 8rem;
}

nav {
    display:flex;    
    width:70%;
    margin: 10px 0;
    justify-content: flex-end;
    
}

nav a{
    display:flex;
    text-decoration: none;
    padding:2%;
    justify-content: space-between;
    border: 1px solid #023E8A;
    background-color: #00B4D8;
    color: #03045E;
    margin:20px 0;
    height: 20px;
    font-size: 1.8rem;
    align-items: center;
    
}

nav a:hover{
    background-color: #03045E;
    color: #CAF0F8;
}

#home{
    display:flex;
    background-color: #CAF0F8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.istockphoto.com/photos/abstract-background-wallpaper-picture-id952039286?b=1&k=20&m=952039286&s=170667a&w=0&h=LmOcMt7FHxFUAr2bOSfTUPV9sQhME6ABtAYLM0cMkR4=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60vh;
    margin: 2% 5%;
    color: white;
}

#home button {
    display:flex;
    flex-direction: row;
    height: 3vh;
    background-color: transparent;
}

#home button a{
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    color:white;
}

#gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 95vh;
    
}

#gallery div{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 30%;
    margin: 1%;
}

#gallery .container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

#gallery p{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
}

.box{
    width: 30%;
}

footer {
    background-color:#023E8A;
    width:100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer button{
    display:flex;
}

footer button a{
    text-decoration: none;
}

@media(max-width:800px){
    h2{
        font-size: 5rem;
    }
    header{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 2%;
    }
    nav{
        flex-direction: column;
        width:20%;
    }
    nav a{
        margin: 0;
        height: 5vh;
        justify-content: center;
    }
    #gallery{
        height:100vh;
    }

    #gallery .box{
        width:40%;
    }
}

@media(max-width:500px){
    h1{
        font-size: 4.5rem;
    }
    
    #home{
        height: 40vh;
    }

    #gallery {
        height: 70vh;
    }
}